package:
  name: google-test-app
  version: 0.1.0
  release: "1"
  summary: Sample Google Test application
  license: MIT
  url: ""
  description: Sample app packaging prebuilt artifacts

files:
  - src: build/test_runner
    dest: /usr/bin/test_runner
    mode: "0755"

  - src_dir: Model
    dest_dir: /usr/include/google-test-app/Model
    include: "**/*.hpp"
    mode: "0644"

  - src_dir: UseCase
    dest_dir: /usr/include/google-test-app/UseCase
    include: "**/*.hpp"
    mode: "0644"
